# =====================================
# Project specific
# =====================================


# =====================================
# General
# =====================================
.git/
log/
.log/
tmp/
.tmp/

# =====================================
# Docker
# =====================================
.dockerignore
*Dockerfile*
*docker-compose*

# =====================================
# IDEs - IntelliJ/Webstorm
# =====================================

# IntelliJ / Webstorm
.idea

# =====================================
# IDEs - VSCode
# =====================================
.vscode

# =====================================
# NPM
# =====================================
node_modules
package.lock.json
